*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'poppons';
  color: #fff;
  overflow-x: hidden;
}
.App{
  width: 100vw;
  height: auto;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.Main_container{
  width: 90vw;
  height: inherit; 
  overflow-x: hidden;
}

